/data/A-Benchmark-Dataset-for-Learning-to-Intervene-in-Online-Hate-Speech/
/data/ethos_data/
/data/hate-speech-and-offensive-language/
/data/slur-corpus/
/data/train-balanced-sarcasm.csv
/word_embeddings.txt
/word_embeddings.wordvectors
/word_embeddings.wordvectors.vectors.npy
/kaggle.json

